{% extends "index.html" %}
{% block content %}
    <div class="container-books">
        <h2>Список книг</h2>
        {% if books %}
            <table>
                <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Название</th>
                        <th>Год издания</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.author }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.year }}</td>
                        <td>{{ book.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет книг для отображения.</p>
        {% endif %}

        <h3>Добавить новую книгу</h3>
        <form action="{% url 'add_book' %}" method="POST">
            {% csrf_token %}
            <div>
                <input type="text" id="author" name="author" placeholder="Автор" required>
            </div>
            <div>
                <input type="text" id="title" name="title" placeholder="Название" required>
            </div>
            <div>
                <input type="number" id="year" name="year" placeholder="Год издания" required>
            </div>
            <div>
                <input type="number" id="quantity" name="quantity" placeholder="Количество" required>
            </div>
            <button type="submit">Добавить книгу</button>
        </form>
    </div>
{% endblock content %}