{% extends "index.html" %}
{% block content %}
    <main>
        <h2>Редактировать книгу</h2>
        <form action="{% url 'edit-book' book.id %}" method="post">
            {% csrf_token %}
            <input type="text" id="author" name="author" value="{{ book.author }}" required>
            <input type="text" id="title" name="title" value="{{ book.title }}" required>
            <input type="number" id="year" name="year" value="{{ book.year }}" required>
            <input type="number" id="quantity" name="quantity" value="{{ book.quantity }}" required>

            <button type="submit">Сохранить</button>
        </form>
    </main>
{% endblock content %}