{% extends "index.html" %}
{% block content %}
    <main>
        <h2>Список книг</h2>
        {% if render_task %}
        <ul>
            {% for books in render_task %}
            <li>
                Автор: {{ books.bookAuthor }} |
                Название: {{ books.bookName }} |
                Год издания: {{ books.bookDate }} |
                Количество страниц: {{ books.quantity }} |
                Количество экземляров: {{ books.bookInstances }} |
                <a href="editBook/{{books.id}}">Изменить</a>
                <a href="deleteBook/{{books.id}}">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Нет книг для отображения.</p>
        {% endif %}

        <h3>Добавить новую книгу</h3>
        <form action="{% url 'addBook' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="author" name="author" placeholder="Автор" required>
            <input type="text" id="title" name="title" placeholder="Название" required>
            <input type="date" id="year" name="year" placeholder="Год издания" required>
            <input type="number" id="pages" name="pages" placeholder="Количество страниц" required>
            <input type="number" id="instances" name="instances" placeholder="Количество" required>
            <button type="submit">Добавить книгу</button>
        </form>
    </main>
{% endblock content %}