{% extends "index.html" %}
{% block content %}
    <main>
        <h2>Список книг</h2>
        {% if books %}
        <ul>
            {% for book in books %}
            <li>
                Автор: {{ book.bookAuthor }} |
                Название: {{ book.bookName }} |
                Год издания: {{ book.bookDate }} |
                Количество страниц: {{ book.quantity }} |
                Количество экземляров: {{ book.bookInstances }} |
                <a href="bookEdit/{{book.id}}">Изменить</a>
                <a href="bookDelete/{{book.id}}">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Нет книг для отображения.</p>
        {% endif %}

        <h3>Добавить новую книгу</h3>
        <form action="{% url 'add_book' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="author" name="author" placeholder="Автор" required>
            <input type="text" id="title" name="title" placeholder="Название" required>
            <input type="number" id="year" name="year" placeholder="Год издания" required>
            <input type="number" id="quantity" name="quantity" placeholder="Количество" required>
            <button type="submit">Добавить книгу</button>
        </form>
    </main>
{% endblock content %}