<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% include 'head.html' %}
<body>
    <header>
        <nav class="nav-container">
            <h1>Библиотечная система</h1>
            <a href="{% url 'books' %}">Книги</a>
            <a href="{% url 'library' %}">Библиотека</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
               {% csrf_token %}
                <button type="submit" class="btn btn-success">Выйти</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}Что-то пошло не так{% endblock content %}
</body>
</html>