{% extends "index.html" %}
{% block content %}
    <main>
        <h2>Библиотека</h2>

        <h2>Список читателей</h2>
        {% if render_task %}
            <ul>
                {% for readers in render_task %}
                    <li>
                        {{ readers.readerSecondName }} |
                        {{ readers.readerFirstName }} |
                        {{ readers.readerBirthday }} |
                        <a href="editReader/{{readers.id}}">Изменить</a>
                        <a href="deleteReader/{{readers.id}}">Удалить</a>
                        <a href="aboutReader/{{readers.id}}">Перейти к читателю</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет читателей для отображения.</p>
        {% endif %}

        <h3>Добавить нового читателя</h3>
        <form action="{% url 'addReader' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="last_name" name="last_name" placeholder="Фамилия" required>
            <input type="text" id="first_name" name="first_name" placeholder="Имя" required>
            <input type="date" id="birth_date" name="birth_date" placeholder="Дата рождения" required>
            <button type="submit">Добавить читателя</button>
        </form>


        <h3>Выдача книги читателю</h3>
        <form action="{% url 'issueBook' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="reader_id" name="reader_id" placeholder="ID читателя" required>
            <input type="text" id="book_id" name="book_id" placeholder="ID книги" required>
            <button type="submit">Выдать книгу</button>
        </form>

        <h3>Возврат книги</h3>
        <form action="{% url 'returnBook' %}" method="POST">
            {% csrf_token %}
            <input type="text" id="return_reader_id" name="reader_id" placeholder="ID читателя" required>
            <input type="text" id="return_book_id" name="book_id" placeholder="ID книги" required>
            <button type="submit">Вернуть книгу</button>
        </form>
    </main>
{% endblock content %}