{% extends "index.html" %}
{% block content %}
    <div class="container-readers">
        <h2>Список читателей</h2>
        {% if readers %}
            <table>
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Дата рождения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reader in readers %}
                    <tr>
                        <td>{{ reader.last_name }}</td>
                        <td>{{ reader.first_name }}</td>
                        <td>{{ reader.birth_date|date:"d-m-Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет читателей для отображения.</p>
        {% endif %}

        <h3>Добавить нового читателя</h3>
        <form action="{% url 'add_reader' %}" method="POST">
            {% csrf_token %}
            <div>
                <input type="text" id="last_name" name="last_name" placeholder="Фамилия" required>
            </div>
            <div>
                <input type="text" id="first_name" name="first_name" placeholder="Имя" required>
            </div>
            <div>
                <input type="date" id="birth_date" name="birth_date" placeholder="Дата рождения" required>
            </div>
            <button type="submit">Добавить читателя</button>
        </form>
    </div>
{% endblock content %}
